@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Bree Serif', serif;
}
.navbar{
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100vw;
}

.navbar img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin: 20px;
}
.navbar .img2{
    height: 40px;
    width: 45px;
    border-radius: 10px;
    margin-left: 450px;
}
.navbar ul{
    display: flex;
}
.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.navbar ul li{
    list-style: none;
    font-size: 1.0 rem;
    position: relative;
    padding: 25px;
}
.navbar ul li a{
    position: relative;
    color: rgb(248, 247, 247);
    /* display: block; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 0.5px;
    /* padding-left: 40px; */
    padding: 0 10px;
    transition: 1.0s
    
}
.navbar ul li a:hover{
    color: rgb(10, 1, 1);
    background-color: rgb(247, 244, 244);
    
}
/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background :url(./IMAGES/fast\ food\ 4.jpeg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    margin-top: 100px;
    color: #a11b04;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#home p{
    color: rgb(28, 29, 29);
    text-align: center;
    font-size: 1.3rem;
}
.home1{
    font-size: 3.5rem;
    padding: 15px;
    text-align: center;
}
.home2{
    font-size: 1.8rem;
    padding: 15px;
    text-align: center;
}
.btn{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(224, 58, 28);
    color: antiquewhite;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgb(32, 133, 133);
    color: rgb(133, 204, 41);
}
#services{
    margin-top: 130px;
    background-color: rgb(173, 236, 236);
}
.home1 center{
    text-align: center;
}
#id1{
    display: flex;
}
#id1 .box{
    border: 2px solid brown;
    padding: 30px;
    margin: 8px 20px;
    border-radius: 20px;
    background-color: rgb(221, 216, 216);
    box-shadow: 10px 8px 4px grey;
} 
#id1 .box img{
    height: 160px;
    margin: auto;
    display: block;
    transition: transform .2s;

}
#id1 .box img:hover{
    transform: scale(1.05);
}
/* CLIENT SECTION */

#client-section{
    height: 350;
    margin-top: 20px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(./IMAGES/fast\ food\ banner\ 2.jpg);
    width: 100%;
    height: 35%;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 100px;
    border-radius: 40px;
}
.client-item{
    padding: 30px;
}

/* CONTACT SECTION */

#contact{
    position: relative;
    margin-top: 33px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: rgb(204, 162, 243);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
.btn2{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(224, 58, 28);
    color: antiquewhite;
    margin: 20px;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 190px;
}
.btn2:hover{
    background-color: rgb(32, 133, 133);
    color: rgb(133, 204, 41);
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 6px 10px;
}






