/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans:wght@200;300&family=Open+Sans&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(238, 59, 211, 0.6), #6ef08e), url(./IMAGES/shershah.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgb(22, 15, 15);
    opacity: 0.7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .logo{
    width: 25%;
    text-align: center;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: bold;
}
.logo{
    animation: heartbeat .50s infinite alternate;
}
@keyframes heartbeat{
    to{transform: scale(1.2);}
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content:space-around;
    margin-right: 50px;
}
nav .menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.7;
    font-family: sans-serif;
}

nav .menu a:hover{
    color: aqua;
    transition: 0.5s;
    transform: scale(1.2);
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
section{

}
section h3{
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 2.5px;
    color: whitesmoke;

}
section h1{
    margin: 25px 0px 20px 0px;
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    text-shadow: 2px 1px 5px black;
}
section p{
    font-size: 25px;
    word-spacing: 8px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}
section .btn1{
    background: white;
    color: black;
}
.btn1:hover{
    background: #00b894;
    color: white;
}
section .btn2{
    background: #00b894;
    color: white;
}
.btn2:hover{
    background: white;
    color: black;
}
.change_content::after{
    content: '';
    font-family: sans-serif;
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0%{content: "Agra";}
    20%{content: "Mumbai";}
    35%{content: "Jaipur";}
    60%{content: "Delhi";}
    80%{content: "Manali";}
    100%{content: "Goa";}
}